* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes aylan{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
body{
    font-family: "Quantico", sans-serif;
}
.container {
    max-width: 1220px;
    margin: 0 auto;
}

header {
    background: #1F242D;
    padding: 25px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;

}

nav ul li a {
    color: black;
    text-decoration: none;
    transition: 1s;
    color: white;
    font-size: 20px;
}

header h2 {
    color: white;
}

nav ul li a:hover {
    color: aqua;
}

.hero {
    padding: 100px 0;
    background-color: #1F242D;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: white;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 72.8px;
    color: white;
    margin: 10px 0;
}

h2 span {
    color: aqua;
}

.hero-text p {
    color: white;
    font-size: 18px;
    margin: 10px 0;
}
.hero-img img{
    animation-name: aylan;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
.btn:hover{
    transform: scale(1.1);
}
.icons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 25px 0;
    color: aqua;
    font-size: 30px;
}

.service {
    padding: 53px 0;
    background-color: #1F242D;
}

.service h2 {

    font-size: 45px;
    font-weight: 700;
    line-height: 67.5px;
    text-align: center;
    color: white;
}

.card {
    width: 360px;
    padding: 32px;
    background: #323946;
    text-align: center;
    border-radius: 20px;
    color: white;
}

.card h3 {
    font-size: 28px;
}

.card p {
    font-size: 16px;
    margin: 20px 0;
}
.services-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}
.card:hover{
    transform: scale(1.1);
}
.btn{
    padding: 15px 15px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #00EEFF;

}

.projects{
    padding: 100px 0;
    background: #323946;
    text-align: center;
    color: white;
}
.projects h2{
    font-size: 40px;
    margin-bottom: 30px;
}
.project-card{
   width: 380px;
   border-radius: 20px;
   background-color: #1F242D;
   overflow: hidden;

}
.project-card img{
    width: 100%;
}
.projects-box{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}
.contact{
    padding: 70px 0;
    text-align: center;
    background: #1F242D;

}
.contact h2{
    font-size: 40px;
    margin-bottom: 30px;
    color: white;
}
input{
    width: 343px;
    height: 55px;
    padding: 15px;
    border: none;
    outline: none;
    background-color: #323946;
    border-radius: 14px;
    margin: 15px;
}

textarea{
    width: 720px;
    height: 280px;
    padding: 15px;
    border: none;
    outline: none;
    background-color: #323946;
    border-radius: 14px;
    margin: 15px;  
}

footer{
    padding: 40px 0;
    background-color: #323946;
}
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p{
    color: white;
}